.a {
    color: green;
    font-size: 35px;
    text-decoration: none;
    margin-left: 10px;
    text-decoration: none;
}
li{
    border: 2px solid white;
}
body {
    background:url("../image/background1.jpg")right bottom;
}
.ul {
    display: block;
    margin-top: 320px;
}
a{
    margin-top: 5px;
    color: white;
    font-size: 32px;
    padding-left:30px;
    text-decoration: none;
}
.voteagain{
    margin-top: 5px;
    color: green;
    font-size: 32px;
    padding-left:30px;
    text-decoration: none;
}
h1{
    color: white;
    margin-top: 330px;
    margin-left: 200px;
}
form{
    margin-left: 198px;
    font-size: 23px;
    color: white;
}
ul{
    display: block;
    list-style: none;
}
h3{
    margin-left: 120px;
    font-size: 24px;
    height: 0px;
    font-family: serif;
    display: block;
}
p{
    font-size: 24px;
    margin-left:200px;
    margin-top: 30px;

}
input {
    border: 1px solid #006;
    background: #ffc;
    margin-top: 15px;
}
input:hover {
    border: 1px solid #f00;
    background: #ff6;
}
.button {
    border: none;
    padding: 2px 8px;
    font-size: 24px;
    margin-top: 21px
}
.button:hover {
    border: none;
    padding: 2px 8px;
}
