*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;

}
body{
	width: 76%;
	margin: 0 auto;
	font-family: "nyt-franklin",arial,helvetica,sans-serif;
	font-size: 13px;
}


#header li{
	display: inline;
}

#header .header1{
	overflow: hidden;
	padding-bottom: 3px;
}

#header .header1 ul:first-child{
	float: left;
}
#header .header1 ul:last-child{
	float: right;
}

#header .blue-button{
	color: #FFF;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
	font-weight: 900;
	background-color: #326891;
	border: 1px solid #265E8B;
}
#header ul .register{
	color: #326891;
	font-size: 12px;
	margin-left: 10px;
}
#header .mid-header{
	overflow: hidden;
	padding: 10px 0;
	border-top : 1px solid #cccccc;
	border-bottom : 1px solid #cccccc;
}
#header .mid-header > img,#header .mid-header >div{
	float: left;
	text-align: center;
}
#header .mid-header >div{
	width: 60%;
}
#header .mid-header ul li{
	line-height: 10px;
	padding: 0px 10px;
	border-right: 1px solid #E2E2E2;
	font-size: 11px;
	color: #707070;
}
#header ul#menu{
	text-align: center;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	line-height: 1.5em;
	font-family:"nyt-franklin",arial,helvetica,sans-serif;
}

#header ul#menu li{
	font-size: 11px;
	font-weight: bold;
	padding: 4px;
	margin: 0px 4px;
}


#header ul#menu li.activative{
	cursor: pointer;
	font-size: 10px;
	line-height: 15px;
	padding-left: 8px;
	text-align: left;
	font-weight:100;
}
#header > img{
	margin-top: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #cccccc;
}
#container .left-content{
	float: left;

	width: 63%;
	border-right: 1px solid #999;
}
#container .left-content #left-child1{
	display: inline-block;
	float: left;
	width: 33%;
	border-bottom: 2px solid #e2e2e2;
	}
#container .left-content #right-child1{
	width: 61%;
	padding-left: 10px;
	border-left: 1px solid #e2e2e2;
	margin-left: 10px;
	padding-bottom: 15px;
	display: inline-block;
}
#container .left-content #left-child2{
	background: transparent url(doubleRule.gif) repeat-x left top;
	margin-top: 1px;
	clear: both;
	width: 65%;
	float: left;
	
}
#container .left-content #right-child2{
	background: transparent url(doubleRule.gif) repeat-x left top;
	float: right;
	width: 32%;
	margin-top: 1px;
	padding-right: 10px;
	padding-left: 5px;
}
#container .general{
	background: transparent url(doubleRule.gif) repeat-x left top;
	width:100%;
	clear: both;
	padding-top:10px;
}
#container .general .story{
	float: left;
	width: 16%;
}
#container .general .story .first-story{
	margin-bottom: 10px;
}
#container .left-content #left-child2 .title,  #container .general .title{
	margin-top: 10px;
	margin-bottom: 10px;
}
#container .left-content #right-child2 .story{
	margin-top: 10px;
	margin-bottom: 10px;
}
#container .left-content #right-child2 .story:first-child{
	padding-bottom: 5px;
	border-bottom: 1px solid #e2e2e2;
}

#container .left-content #right-child1 li{
display: inline;
	}
#container .left-content #right-child1{
	padding-right: 10px
}
#container .left-content .special-topic{
	font-family: "nyt-karnak-display","nyt-karnak-display-130124";
	border-bottom: 1px solid #00A859;
}

#container #left-child1 .story:not(.lastp){
	padding-bottom: 10px;
	border-bottom: 1px solid #e2e2e2;
}
#container #right-child1 .article.lastp{
	padding-bottom: 10px;
	padding-top: 10px;
	}
#container .left-content .redline{
	color: #a81817;
	font-size: 10px;
	font-weight: normal !important;
}

#container .left-content #left-child2 .showiconshare{
	text-align: right;
	margin-right: 10px;
	margin-bottom: 15px;
}

#container .left-content #left-child2 .slidevideo li{
	display: inline;
	width: 22%;
	height: inherit;
	padding-right: 1%;
	float: left;
}
#container .left-content #left-child2 .slidevideo img{
	width: 100%;
}
#container .left-content #left-child2 .showiconshare li{
	display: inline;
}

#container .right-content{
	padding-right: 10px;
	float: right;
	width: 35%;
}
#container .right-content .article{
	position: relative;
	overflow: hidden;
	clear: both;
	font-size: 13px;
	line-height: 1.4em;
	font-family: georgia,"times new roman",times,serif;
	padding-bottom: 10px;
}

#container .right-content .article:not(.firstp):not(.lastp){
	padding-top: 10px;
	margin-top: 1px;
	border-top: 1px solid #e2e2e2;
	border-bottom: 2px solid #e2e2e2;
}
#container .left-content .article:not(.lastp){
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid #e2e2e2;
}
#container .right-content .article img.rspace{
	position: absolute;
	top: 13px;
	right: 54px;
}
#container .right-content .article a{
	color:#000;
}
#container .right-content .article .story, #container .left-content .article .story
{
	display: inline-block;
}
#container .right-content .article .story.first, #container .left-content .article .story.first{
	padding-right: 10px;
	float: left;
	border-right: 1px solid #999;
	width: 47%;
}
#container .right-content .article .story.second, #container .left-content .article .story.second{
	padding-left: 10px;
	width:44%;
}
#container .right-content .article .title{
	text-align: center;
	font-weight: bold;
}
#container .right-content .linkBlue, #container .left-content .linkBlue{
	color:#326891;
}


#container .right-content .article .fixpic{
	margin-bottom: -6px;
	margin-right: 10px;
	width: 22px;
}
#container .right-content .article .story .topic{
	font-size: 14px;
	line-height: 16px;
	font-weight: 600;
	color: #000;
}

#container .right-content .story .first-story, #container .left-content .story .first-story{
	font-weight: 500;
	font-size: 10px;
	line-height: 11px;
	color: #4d4d4d;
	margin-bottom: 3px;
	font-family: "nyt-franklin",arial,helvetica,sans-serif;
}

#container .right-content .story .artist, #container .left-content .story .artist{
	font-size: 10px;
	line-height: 12px;
	color: #808080;
	margin: 4px 0 2px 0;
}


#container .right-content .bullet a, #container .left-content .bullet a {
	font-size: 10px;
	font-weight: bold;
}
#container .right-content .bullet li:before, #container .left-content .bullet a:before{
	content: "\2022";
	font-size: 9px;
	font-weight: bold;
	margin-right: 3px;
}
#container .story.first.extend{
	width: 53% !important;
}


#container .story.second.extend{
	width: 40% !important;
}

#container .chart{
	margin-left: -7px;
}
#container .chart tr td{
	text-align: right;
	border-left: 1px solid #000;
}

#container .chart tr:first-child td{
	font-size: 10px;
	padding-left: 21px;
	font-family: Arial,Helvetica,sans-serif;
}

#container .chart tr:nth-child(2) td{
	color: #909090;
	font-family: arial,helvetica,sans-serif;
	line-height: 15px;
	font-size: 10px;
}

#container .chart tr:nth-child(2) td:hover{
	text-decoration: underline;
}

#container .chart tr:nth-child(3) td{
	font-size: 12px;
	line-height: 15px;
	color: #3c8a37;
	font-weight: bold;
}
#container .chart tr:nth-child(4) td{
	font-size: 11px;
	line-height: 15px;
	color: #3c8a37;
	font-weight: 700;
}
#container .chart tr:nth-child(5) td{
	font-size: 11px;
	line-height: 15px;
	color: #3c8a37;
	font-weight: 600;
}
#container .right-content .article .sub-menu li
{
	display: inline;
	padding-right: 10px;
}
