{% load staticfiles%}
<link rel="stylesheet" type="text/css" href="{% static 'polls/styles.css'%}"/>
{% if latest_poll_list %}
	<ul class="ul">
    {% for poll in latest_poll_list %}
    <li><a class="a" href="{% url 'polls:detail' poll.id %}">{{ poll.question }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
<h3>Search</h3>
{% csrf_token %}
<form action={% url 'polls:search' %} method="get">
    <input type="text" name="q">
    <input class="button" type="submit" value="Search">
</form>