/* CSS styles for a CS142 project. */

body {font-family: Tahoma, Arial, sans-serif; font-size: 13px;
    color: #000000; background: #ffffff; margin: 8px;}

/* Styles for sample tables: */

.example td {padding: 2px 10px 2px 10px; border-top: 1px solid #FFFFFF;
    vertical-align: top; background: #eeeff2;}
.example tr.header td {border-top: none; background: #687291;
    color: #ffffff; white-space: nowrap;}
.example tr.odd td {background: #dfe1e7;}

form {
    width: 200px;
    position:relative;
    font-size: 14px;
    font-style: italic;
    line-height: 24px;
    font-weight: bold;
    color: #09C;
    text-decoration: none;
    border-radius: 10px;
    padding:10px;
    border: 1px solid #999;
}
p,h1{
    color: green;
}
input{
    border: 1px solid #999;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
input.button {
    background:#09C;
    color:#fff;
    height:30px;
    border-radius: 15px;
}
input.button:hover {
    background:#fff;
    color:#09C;
    border-radius: 15px;
}
input.button:active {
    background:#fff;
    color:red;
    border-radius: 15px;
}