#menu{
	margin-left: 10px;
	margin-bottom: 0px;
	font: 13px Tahoma ;
}
#vertical_line{
	border-bottom: 1px solid #cccccc;
	width: 98%;
	margin-top: -2px;
	margin-left: 5px;
}

#menu a{
	text-decoration: none;
	color: #000;
	margin-right: 5px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
	background-image: url(images/left.gif), url(images/right.gif), url(images/mid.gif);
	background-position: left top, right top, left top;
	background-repeat: no-repeat, no-repeat, repeat-x;
	border-bottom: 1px solid #cccccc;
	}

#menu a:hover{
	color:#cc6600;
	cursor: pointer;
}
#menu a:active{
	color: #000;
	font-weight: bold;
	background-image: url(images/left-selected.gif), url(images/right-selected.gif), url(images/mid-selected.gif);
	background-position: left top, right top, left top;
	background-repeat: no-repeat, no-repeat, repeat-x;
	border-bottom: 2px solid #FFF;
}