*{
	font-family: "Tomato";
	font-size: 13px;
}
tr.hidden td {
    border-top: black solid 2px;
}
table{
	padding:20px;
	border:10px solid #d0d0ff;
	width: 50%;
}
th{
	text-align: left;
	border-bottom: white solid 1px;
}
td{

}
