body {
    background: #99FFFF url("images/background.jpg") no-repeat right bottom;
}

h1.title{
	color: red;
	margin-top: 10px;
	text-align: center;
}
.search_form{
	position: absolute;
	right: 10px;
	top: 10px;
}
.search_form input[type="submit"]{
	font-family: "Arial Black", Gadget, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #443333;
    padding: 5px 12px 5px 12px;
    border: 1px solid #999;
 
    text-shadow: 0px 1px 1px #666;
    text-decoration: none;
 
    -moz-box-shadow: 0 1px 3px #111;
    -webkit-box-shadow: 0 1px 3px #111;
    box-shadow: 0 1px 3px #111;
 
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    background: #64a724;
    cursor: pointer;
}
.search_form input[type="submit"]:hover{
	color: #fff;
}


li a.poll_link {
    color: green;
}
li a.poll_link:hover{
    color: red;
    text-decoration: none;
}

ul.poll_list{
	position: relative;
	list-style-image:url('images/Actions-bookmarks-organize-icon.png');
	margin: 10px 50px;
	padding-top: 20px;
	border-top: 2px solid #2c2c2c;
}

ul.poll_list span.poll_date{
	font-size: 13px;
}

